@page
@using ChessWebApp.Models.Helper;
@using ChessLib.EventArguments;
@using ChessLib;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main id="main" class="container-fluid text-center">
    <div id="timeView" class="row" style="display:none;">
        <h4 id="timeName"></h4>
        <p id="timeStatus"></p>
        <div class="timeO">

        </div>
        <div class="timeE">

        </div>
    </div>

    <div id="findOpponent" class="row m-5">
        <div class="mx-auto my-auto text-center">
            <p id="status" class="row help-block m-3 text-center">Please enter your desired username.</p>
            <div class="form-inline">
                <div class="form-group mr-2" id="usernameGroup">
                    <label class="sr-only control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" autofocus />
                </div>
                <button type="submit" id="findGame" class="btn btn-primary">Find Game</button>
                <p id="hidden" class="help-block" style="visibility:hidden"></p>
            </div>
        </div>
    </div>
</main>

<div id="playground" class="m-3" style="display:none">
    <div class="row">
        <div id="boardContainer" class="col-xs-12 col-sm-12 col-md-6" style="padding:0px;">
            <div id="board" class="row chessboard col-12" style="margin:0px;padding:0px;">

            </div>
            <div id="options" class="row text-center">
                <a class="col-6 text-center" href="#">Resign</a>
                <a class="col-6 text-center" href="#">Offer Draw</a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 pl-5 pr-5 pb-5">
            <div id="listOfMoves" class="row">
                <div class="col-6">
                    <h4 id="ownListHeader" class="text-center"></h4>
                    <ul id="ownList" class="list-group">
                    </ul>
                </div>
                <div class="col-6">
                    <h4 id="enemyListHeader" class="text-center"></h4>
                    <ul id="enemyList" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();
        var playerId;
        var playerColor;
        var playerName;
        var gameOver;

        function displayWindowSize() {
            var w = $('#boardContainer').width();
            $('.square').width(w / 8);
            $('.square').height(w / 8);
            $('.square > img').width(w / 8);

            $('#options').width(w);
        }

    window.addEventListener("resize", displayWindowSize);

        document.getElementById("findGame").disabled = true;

        connection.start().then(function () {
            document.getElementById("findGame").disabled = false;
        });

        connection.on("PlayerJoined", function (player) {
            playerId = player.id;
        });

        connection.on("OpponentLeft", function (lost, won) {
            document.getElementById('timeStatus').innerText = "Status: " + lost.userName + " has left. Game over.";
            document.getElementById('timeStatus').style.color = "orange";
            endGame();
        });

        connection.on("GameOver", function (gameOver, winner) {
            var t = @(Html.EnumToString<GameOver>());
            document.getElementById('timeStatus').innerText = winner.userName + " has lost due to " + t[gameOver];
            document.getElementById('timeStatus').style.color = "purple";
            endGame();
        });

        connection.on("WaitingList", function () {
            $('#status').html("Waiting for an opponent.");
        });

        $('#findGame').click(function () {
            var chosenUsername = $('#username').val();
            connection.invoke("FindGame", chosenUsername);
            document.getElementById("findGame").disabled = true;
        });

        $('#username').keypress(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('#findGame').click();
                return false;
            }
            return true;
        });

        connection.on("Start", function (game) {
            if (game.id != "") {
                document.getElementById('findOpponent').style.display = "none";
                playerColor = (playerId == game.player1.id) ? game.player1.color : game.player2.color;
                setupPlayground(game);
                document.getElementById('playground').style.display = "block";
                document.getElementById('timeView').style.display = "block";
                Update(game);
                playerName = (playerId == game.player1.id) ? game.player1.userName : game.player2.userName;
                document.getElementById('timeName').innerText = "Player Name: " + playerName;
                displayWindowSize();
                updateStatus(game.movingPlayer.userName);
            }
        });

        connection.on("MoveDone", function (game, move) {
            Update(game);
            if (!gameOver) {
                updateStatus(game.movingPlayer.userName);
            }

            var li = GenerateListElement(move);

            if (game.movingPlayer.color != playerColor) {
                var list = document.getElementById('ownList');
                list.appendChild(li);
            }
            else {
                var list = document.getElementById('enemyList');
                list.appendChild(li);
            }
        });

        function endGame() {
            gameOver = true;
            document.getElementById('baord').style.pointerEvents = "none";
        }

        function updateStatus(name) {
            var timeStatus = document.getElementById('timeStatus');
            if (name == playerName) {
                timeStatus.innerText = "Status: It's your turn";
                timeStatus.style.color = "green";
            }
            else {
                timeStatus.innerText = "Status: " + name + " has to move";
                timeStatus.style.color = "red";
            }
        }

        connection.on("ShowPossibleMoves", function (game) {
            var board = document.getElementById('board');
            resetPossibleMoves(board);
            for (i = 0; i < 64; i++) {
                    if (game.chessBoard.squares[i].possibleMove) {
                        board.children[(game.movingPlayer.color == 0) ? i : 63 - i].classList.add('dropzone');
                    }
                    if (game.chessBoard.squares[i].isSelected) {
                        board.children[(game.movingPlayer.color == 0) ? i : 63 - i].firstChild.id = 'selected';
                    }
                }
        });

        function GenerateListElement(move) {
            var li = document.createElement('li');
            li.classList.add('list-group-item');

            var t = @(Html.EnumToString<Color>());
            var div = document.createElement("div");
            div.classList.add("row");
            div.style.float = "left";
            var span1 = document.createElement("p");
            var span2 = document.createElement("p");
            var img1 = document.createElement("img");
            var p = document.createElement("p");
            p.innerText = move.start.name;
            img1.src = "/images/" + t[move.start.piece.color].toLowerCase() + "_" + move.start.piece.name.toLowerCase() + ".svg";
            span1.appendChild(p);

            div.appendChild(img1)
            div.appendChild(span1);
            var sss = document.createElement("p");
            sss.innerText = "->";
            div.appendChild(sss);

            var img2 = document.createElement("img");
            img2.width = 20;
            img2.height = 20;
            if (move.end.piece != null) {
                var p = document.createElement("p");
                p.innerText = move.end.name;
                img2.src = "/images/" + t[move.end.piece.color].toLowerCase() + "_" + move.end.piece.name.toLowerCase() + ".svg";
                span2.appendChild(p);
                div.appendChild(img2);
            }
            else {
                span2.innerText = move.end.name;
            }

            div.appendChild(span2);

            li.appendChild(div);

            return li;
        }

        function setupPlayground(game) {
            var t = @(Html.EnumToString<Color>());
            document.getElementById('ownListHeader').innerText = t[playerColor];
            document.getElementById('enemyListHeader').innerText = playerColor == 0 ? t[1] : t[0];
        }

        function resetBoard() {
            var board = document.getElementById('board');
            board.innerHTML = "";
        }

        function resetPossibleMoves(board) {
            for (i = 0; i < board.children.length; i++) {
                board.children[i].classList.remove("dropzone");
                if (board.children[i].firstChild != null) {
                        board.children[i].firstChild.id = "";
                    }
            };
        }

        function Update(game) {
            resetBoard();
            var b = document.getElementById('board');
            game.chessBoard.squares.forEach(entry => {
                var child = document.createElement("div");
                child.classList.add(entry.name);
                var t = @(Html.EnumToString<Color>());
                child.classList.add("square");
                child.classList.add(t[entry.color].toLowerCase());

                if (entry.piece != null) {
                    var svg = document.createElement("img");

                    svg.src = "/images/" + t[entry.piece.color].toLowerCase() + "_" + entry.piece.name + ".svg";
                    child.appendChild(svg);

                    if (entry.piece.color == playerColor) {
                        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                            child.addEventListener("mousedown", function () {
                            connection.invoke("PieceSelected", entry.position.posX, entry.position.posY);
                            child.firstChild.classList.add(entry.name);
                        });
                        }
                        else {
                            child.addEventListener("mousedown", function () {
                            connection.invoke("PieceSelected", entry.position.posX, entry.position.posY);
                            child.firstChild.classList.add(entry.name);
                        });
                        }

                        child.firstChild.classList.add("drag-drop");
                    }
                }

                b.appendChild(child);
            });

            if (playerColor == 1) {
                reverseChildren(b);
            }

            displayWindowSize();
        }
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function reverseChildren(parent) {
            for (var i = 1; i < parent.childNodes.length; i++) {
                parent.insertBefore(parent.childNodes[i], parent.firstChild);
            }
        }
        		let startPos = {x:-1,y:-1};


interact('.drag-drop').draggable({
	inertia: true,
	snap: {
      targets: [startPos],
      relativePoints: [ { x: 0, y: 0 } ],
      endOnly: true,
    },
	listeners: {
		start (event) {
			var rect = interact.getElementRect(event.target);

				startPos = {
					x: rect.left,
					y: rect.top
				}

				event.interactable.options.drag.snap.targets = [startPos];
		},
		move (event) {
			var target = event.target,
			x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
			y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

			target.style.webkitTransform =
			target.style.transform = 'translate(' + x + 'px, ' + y + 'px)';

			target.setAttribute('data-x', x);
			target.setAttribute('data-y', y);
        },
        end (event) {
            var test = "";
        }
	}
});

        interact('.dropzone').dropzone({
    accept: '#selected',
	overlap: 'center',
	ondragenter: function (event) {
		var dropRect = interact.getElementRect(event.target),
		    dropTarget = {
		      x: dropRect.left,
		      y: dropRect.top
		    };
    event.draggable.draggable({
      snap: { targets: [dropTarget] },
    });

		var draggableElement = event.relatedTarget,
            dropzoneElement = event.target;

        dropzoneElement.classList.add('drop-target');
        draggableElement.classList.add('can-drop');
	},
            ondragleave: function (event) {
        event.draggable.draggable({
      snap: { targets: [startPos] },
    });
        event.target.classList.remove('drop-target');
        event.relatedTarget.classList.remove('can-drop');
	},
	ondropactivate: function (event) {
        event.target.classList.add('drop-active');
    },
	ondropdeactivate: function (event) {
        event.target.classList.remove('drop-active');
        event.target.classList.remove('drop-target');
    },
            ondrop: function (event) {
                event.draggable.draggable({ snap: { targets: [] } });
                var piece = event.relatedTarget.classList[1];
                var square = event.target.classList[0];
                connection.invoke("MoveSelected", piece, square);
            },
            ondown: function (event) {
                var t = "Test";
            }
});
    });

</script>
