@page

@model IndexModel
@{
    ViewData["Title"] = "Selection";
}

    <main id="main" class="container text-center">
        <div class="row m-2" style="width:100%">
            <a class="btn-dark btn-block" href="@Url.Page("ChessPage")">Chess</a>
        </div>
        <div class="row m-2" style="width:100%">
            <a class="btn-dark btn-block" href="@Url.Page("ScribblePage")">Scribble</a>
        </div>
        <div class="row m-2" style="width:100%">
            <a class="btn-dark btn-block" href="@Url.Page("LudoPage")">Ludo</a>
        </div>
    </main>