@page
@model ChessWebApp.ScribblePageModel
@{
    ViewData["Title"] = "ScribblePage";
}

<h1>ScribblePage</h1>

<main id="main" class="container-fluid text-center">
    <div class="row">

    </div>
</main>
